::placeholder,::-webkit-input-placeholder,::-moz-placeholder,:-ms-input-placeholder{color:#525f7f!important}
body{font-family:'Open Sans', sans-serif;background-color:#F2F5FA;color:#525f7f}
body.floating{position:absolute;color:#565656;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);width:100%}
p{font-size:1rem}
button,input{border-radius:0!important}
hr{border-color:#f3f3f3}
i{display:inline-block;vertical-align:middle}
.pointer{cursor:pointer}
.disabled{pointer-events: none}
.small{font-size:80%!important}
.hide{display:none}
.btn{position:relative;text-transform:none;-webkit-transition:all .15s ease;transition:all .15s ease;letter-spacing:.025em;font-size:.875rem;will-change:transform}
.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;border:0!important;opacity:.9}
.gu-hide{display:none!important}
.gu-transit{opacity:.5}
.icon{width:20px;height:20px;cursor:pointer;background-image:url(/img/icons.svg);background-repeat: no-repeat;background-size: 100px 80px}
.icon.add{background-position:0px -60px}
.icon.edit{background-position:-20px -60px}
.icon.delete{background-position:-40px -60px}
.icon.done{background-position:-60px -60px}
.icon.snooze{background-position:-80px -60px}
.icon.arrow-down{background-position:0px -40px}
.icon.arrow-up{background-position:-20px -40px}
.icon.shut{background-position:-40px -40px}
.icon.undo{background-position:-60px -40px}
.icon.info{background-position:0px 0px}
.icon.warning{background-position:-20px 0px}
.icon.error{background-position:-40px 0px}
.add-button{background-image:url(/img/icons.svg);background-position:0px -72px;width:24px;height:24px}
.main-content{position:relative;padding: 1rem;margin-bottom: 1.5rem}
.main-content .page-nav{color:rgba(0,0,0,.75);font-size:1.0625rem!important;font-weight:600;line-height: 1.5;margin:0;text-transform: uppercase}
.main-content .row:first-child{margin-top:1rem;margin-bottom:.5rem}
.navbar-vertical{background-color: #fff}
.list-group > li{font-size:.9rem;border-color:#f3f3f3;padding:1rem 1.5rem}
.list-group > li:nth-child(even){background-color: #fbfbfb}
.list-group > li a{color:inherit!important}
.list-group > li:first-child img.up,.list-group > li:last-child img.down{opacity:.4;cursor:initial!important;pointer-events: none}
.navbar-vertical .navbar{border-width:0 0 1px;border-style:solid}
.navbar-vertical .navbar-light{background-color:transparent;border-color:#f6f9fc}
.navbar-vertical .navbar-brand{margin-right:0}
.navbar-vertical .navbar-toggler{border:0!important}
.navbar-vertical .navbar-brand{font-size: 1.4rem; color: #31343c!important;}
.navbar-vertical .navbar-nav{margin-left:-1rem;margin-right:-1rem}
.navbar-vertical .navbar-nav .nav-link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-left:1rem;padding-right:1rem;font-size:.9rem;color:rgba(0,0,0,.9)}
.navbar-vertical .navbar-nav .nav-link:focus,.navbar-vertical .navbar-nav .nav-link:hover{color:#0056b3!important}
.navbar-vertical .navbar-nav .nav-link.active{position:relative}
.navbar-vertical .navbar-nav .nav-link.active:before{content:"";position:absolute;left:0;top:.25rem;bottom:.25rem;border-left:2px solid #007bff}
.navbar-vertical .navbar-nav .nav-link>i{min-width:2.25rem;font-size:.9375rem;line-height:1.5rem}
.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse]:after{display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;-webkit-font-smoothing:antialiased;font-family:Font Awesome 5 Free;font-weight:700;content:"\f105";margin-left:auto;color:#8898aa;-webkit-transition:all .15s ease;transition:all .15s ease}
.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse][aria-expanded=true]:after{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.navbar-vertical .navbar-nav .nav .nav-link{padding-left:3.25rem}
.navbar-vertical .navbar-nav .nav .nav .nav-link{padding-left:3.75rem}
.navbar-collapse-header{display:none}
.card{border:0;border-radius:0!important;box-shadow:0 0 2rem 0 rgba(136,152,170,.15)!important}
.modal-overlay,.note-edit-overlay{position:fixed;display:none;width:100%;top:0;bottom:0;z-index:9999;background-color:rgba(0,0,0,.4)}
.modal-overlay .modal-box,.note-edit-overlay .note-edit-box{position:absolute;top:50%;right:0;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);-ms-transform:translateY(-50%);margin:0 auto;background-color:#fff;box-shadow:0 5px 22px 0 rgba(0,0,0,0.25)}
.modal-overlay .modal-box{width:450px;padding:3rem 2rem;text-align:center}
.modal-overlay .modal-box h2{font-weight:600}
.modal-overlay .modal-box .pretty-checkbox input{position:absolute;visibility: hidden;z-index:-1}
.modal-overlay .modal-box .pretty-checkbox label{position:relative;padding-left:2em;cursor:pointer}
.modal-overlay .modal-box .pretty-checkbox label::before, .modal-overlay .modal-box .pretty-checkbox label::after{position:absolute;top:0;left:0;width:1.5em;height:1.5em;transition:.3s all linear;-webkit-transition:.3s all linear}
.modal-overlay .modal-box .pretty-checkbox label::before{content:" ";border:2px solid #ced4da}
.modal-overlay .modal-box .pretty-checkbox label::after{content:"\2714";transform:scale(0);-webkit-transform:scale(0)}
.modal-overlay .modal-box .pretty-checkbox input:checked + label::after{transform:scale(1);-webkit-transform:scale(1)}
.modal-overlay .modal-box .pretty-checkbox input:disabled, .modal-overlay .modal-box .pretty-checkbox input:disabled + label{opacity:.7}
.notif-overlay{display:none;position:fixed;width:100%;bottom:0;z-index:9999}
.notif-overlay .notif-box{position:absolute;bottom:0;padding:1rem 1.5rem;margin:1.5rem;background-color:#fff;box-shadow:0 5px 22px 0 rgba(0,0,0,0.25)}
.notif-overlay .notif-box .desc{display:none;margin-top:.5rem}
.notif-overlay .notif-box .text span{font-weight:600}
.notif-overlay .notif-box .text i.icon{cursor:initial}

@media (max-width:575.98px) {
    .modal-overlay .modal-box{width:calc(100% - 25px)}
    .notif-overlay .notif-box{margin:0;width:100%}
}

@media (max-width:767.98px) {
    .navbar-nav .nav-link{padding:.625rem 0}
    .navbar-collapse{display:none;padding:1.5rem;background:#fff;box-shadow:0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);width:calc(100% - 1.4rem);position:absolute;top:0;left:0;right:0;z-index:1050;margin:.7rem;overflow-y:auto;height:auto!important}
    .navbar-collapse .navbar-toggler{position:relative;cursor:pointer;display:inline-block;padding:0;width:24px;height:24px;vertical-align: middle;background: url(/img/icons.svg) -48px -48px}
    .navbar-collapse .navbar-collapse-header{display:block;padding-bottom:1rem;margin-bottom:1rem;border-bottom:1px solid #f3f3f3}
    .navbar-collapse .collapse-brand img{height:36px}
    .navbar-collapse .collapse-close{text-align:right}
}

@media (min-width:768px) {
    .main-content{padding:1rem 0}
    .main-content .container-fluid{padding:0 39px}
    .navbar-vertical{background-color:transparent}
    .navbar-vertical .navbar-collapse{margin-left:-1rem;margin-right:-1rem;padding-left:1rem;padding-right:1rem}
    .navbar-vertical.navbar-expand-md.fixed-left+.main-content{margin-left:200px}
    .navbar-vertical.navbar-expand-md{display:block;position:fixed;top:0;bottom:0;width:100%;max-width:200px;padding:1rem 1.5rem;overflow-y:auto}
    .navbar-vertical.navbar-expand-md>[class*=container]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:stretch;-ms-flex-align:stretch;-ms-grid-row-align:stretch;align-items:stretch;min-height:100%;padding-left:0;padding-right:0}
    .navbar-vertical.navbar-expand-md.fixed-left{left:0;border-width:0 1px 0 0}
    .navbar-vertical.navbar-expand-md .navbar-collapse{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;opacity:1!important;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;margin-left:-1.5rem;margin-right:-1.5rem;padding-left:1.5rem;padding-right:1.5rem}
    .navbar-vertical.navbar-expand-md .navbar-collapse>*{min-width:100%}
    .navbar-vertical.navbar-expand-md .navbar-collapse hr{border-color:rgba(0,0,0,.1)}
    .navbar-vertical.navbar-expand-md .navbar-nav{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-left:-1.5rem;margin-right:-1.5rem}
    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link{padding:.65rem 1.5rem}
    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before{top:.25rem;bottom:.25rem;left:0;right:auto;border-left:2px solid #007bff;border-bottom:0}
    .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link{padding-left:3.75rem}
    .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav .nav-link{padding-left:4.5rem}
    .navbar-vertical.navbar-expand-md .navbar-brand{display:block;text-align:left;padding-top:0.5rem;padding-bottom:1.5rem}
    .navbar-vertical.navbar-expand-md .navbar-brand-img{max-height:2.5rem}
}